.card{
  box-sizing: border-box;
  max-width: 900px;
  margin: 20px auto;
  padding: 10px 20px 20px;
  background-color: #fff;
  border-radius: 5px;
  
}

@media (max-width: 900px){
  .card{
    margin: 20px;
  }
}
