.informacao{
  display: flex;
  font-size: .95rem;
  flex-flow: row nowrap;
  align-items: baseline;
}

.informacao p{
  margin-bottom: 5px;
}
 
.informacao p + p{
  margin-left: 10px;
  margin-top: 5px;
}

.tag{
  box-sizing: border-box;
  background-color: #BBBDF2;
  border-radius: 50px;
  font-weight: bold;
  padding: 5px 15px;
  margin: 15px;
  line-height: 30px;

}
