.button-photo {
  border: none;
  background-color: var(--bg-color-tags);
  width: 65px;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px
}

.button-photo > div > img{
  width: 100%;
} 

.btn-virar{
  position: absolute;
  right: 10px;
}
