.camera-container {
  position: relative;
  width: 100%;
}

.camera-container > video{
  z-index: 1;
  width: 100%;
}

.camera-container > canvas{
  position: absolute;
  top: -1;
  left: 0;
  z-index: 1;
  width: 100%;
}